{% extends "base.html" %}
{% block title %}ログイン{% endblock %}
{% block content %}
<h1>ログイン</h1>
<form method="post">
    {{ form.hidden_tag() }}

    <p>
        {{ form.username.label }}<br>
        {{ form.username() }}
        {% for error in form.username.errors %}
            <span class="error">{{ error }}</span>
        {% endfor %}
    </p>

    <p>
        {{ form.password.label }}<br>
        {{ form.password() }}
        {% for error in form.password.errors %}
            <span class="error">{{ error }}</span>
        {% endfor %}
    </p>

    {{ form.submit() }}
</form>
<p><a href="{{ url_for('register') }}">アカウントをお持ちでない方はこちら</a></p>
{% endblock %}
